body {
/*	background-color: #F5F3F4;*/
    background-color: black;
    margin: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.opacity_effect {
    opacity: 0.5;
}

#container {
	width: auto;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	text-align: center;
	position: fixed;
    top: 0;
    width: 100%;
    background-color: #F5F3F4;
}

header h1 {
    margin: 5px;
    font-size: 16px;
}

a {
	color: white;
	text-decoration: none;
}

.navbutton {
    padding: 10px 20px 10px 20px; 
    display: inline-block; 
    margin: 6px 3px;
    font-weight: normal;
}

.navbutton:hover {
    font-weight: bold;
/*	background: #0099CC;*/
/*	position: relative;*/
}

/*
.currentpage_nav, .currentpage_nav:hover {
	background: #551A8B !important;
    color: #FFFFFF !important;
}
*/

.dropdown_menu {
    padding: 5px;
	display: block;
	width: 200px;
	text-indent: 15px;
	background-color: #0099CC;
	font-weight: normal;
	font-size: 80%;
	text-align: left;
}

/*
.dropdown_menu:hover {
    background-color: #005555;
}
*/

ul {
	list-style-type: none;
	background-color: black;
	color: white;
	font-weight: bold;
	margin: 0px;
}

.dropdown_div {
    background-color: black;
}

.dropdown {
    margin: 6px;
    cursor: pointer;
    background: #EAEDED;
    float: right;
}

.dropbtn {
    cursor: pointer;
    padding: 5px 5px 0px;
    background: white;
    color: #FFFFFF;
    font-size: 16px;
}

header select {
    padding: 10px 20px 10px 20px;
    margin: 6px 3px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

ul li {
	display: inline;
}

ul li ul {
	position: absolute;
	left: -9999px;
	top: -9999px;
	list-style-type: none;
}

ul li:hover ul {
	left: 0px;
	top: 40px;
	padding: 0px;
}

#mid {
/*	background-color: #eaeded;*/
	margin-top: 50px;
	padding: 20px 20px 100px 20px;
	text-align: center;
	font-size: 16px;
}

#bottom {
	height: 40px;
	background-color: #c0caca;
}

#height_error {
	color: red;
}

#weight_error {
	color: red;	
}

.dropdown_div {
/*  display: none;*/
}

.dropdown_container {
    float: left;
    overflow: hidden;
    list-style-type: none;
	background: white;
	color: black;
	margin: 0px;
	width: 100%;
	height: 50px;
/*	display: none;*/
}
.dropdown .dropbtn, .dropdown-content, .dropdown_container, .dropbtn {
    border: none;
    outline: none;
    margin: 0;
}
.dropdown-content {
/*    display: none;*/
    visibility: hidden;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background: #3f3f3f;
    width: 0%;
    float: right;
    top: 50px;
    right: 0;
    height: 100%;
    transition: width 0.5s ease-in-out;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
}
.dropdown-content a:hover {
    font-weight: bold;
/*  background: #0099CC;*/
  color: #FFFFFF;
}
.dropbtn:hover {
    background: #dbdbdb;
}
/*
.dropdown:hover {
  background: #555 !important;
  color: white;
}
*/
.show {
/*    display: block;*/
    visibility: visible;
    width: 25%;
}

.menu_icon {
    width: 28px;
    height: auto;
}

.close_icon {
    width: 28px;
    height: auto;
    float: right;
}

.img_style {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.logo_style {
    float: left;
    margin: 6px;
}

.dropdown-content-head {
    height: 50px;
    margin: 6px;
}

.closebtn {
    cursor: pointer;
    padding: 5px 5px 0px;
}

@media (max-width: 768px) {
    header ul { display: none; }
    .dropdown_div { display: block; }
    .dropdown_container {
        display: block;
    }
    .show {
        width: 90%;
    }
    #mid { padding: 20px 10px 100px 10px; }
}
header ul { display: none; }


