body {
    background-color: #e5e5e5;
    margin: 0px;
    color: #191919;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.opacity_effect {
    opacity: 0.5;
}

#container {
	width: auto;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	text-align: center;
	position: fixed;
    top: 0;
    width: 100%;
    background-color: #F5F3F4;
}

header h1 {
    margin: 5px;
    font-size: 16px;
}

.intro_style {
    font-size: 36px;
    margin: 50px auto 50px;
    padding: 0;
    max-width: 720px;
}

.non-intro-style {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
}
.non-intro-style-dark {
    background: #191919;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    align-items: center;
}

.link-style {
	color: #191919;
	text-decoration: none;
  padding: 5px;
  border: 1px solid #191919;
  border-radius: 8px;
}
.link-style-white {
	color: white;
	text-decoration: none;
  padding: 5px;
  border: 1px solid white;
  border-radius: 8px;
}
.link-style:hover {
    background: #000000;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px;
}
.link-style-white:hover {
    background: white;
    color: #000000;
    text-decoration: none;
    padding: 5px;
}

.navbutton {
    padding: 10px 20px 10px 20px;
    display: inline-block;
    margin: 6px 3px;
    font-weight: normal;
}

.navbutton:hover {
    font-weight: bold;
}

.dropdown_menu {
    padding: 5px;
	display: block;
	width: 200px;
	text-indent: 15px;
	background-color: #0099CC;
	font-weight: normal;
	font-size: 80%;
	text-align: left;
}

ul {
	list-style-type: none;
	background-color: black;
	color: white;
	font-weight: bold;
	margin: 0px;
}

.dropdown_div {
    background-color: black;
}

.dropdown {
    margin: 6px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: transparent;
    float: right;
}

.dropbtn {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    padding: 5px 5px 0px;
    background: transparent;
    color: #FFFFFF;
    font-size: 16px;
}

header select {
    padding: 10px 20px 10px 20px;
    margin: 6px 3px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

ul li {
	display: inline;
}

ul li ul {
	position: absolute;
	left: -9999px;
	top: -9999px;
	list-style-type: none;
}

ul li:hover ul {
	left: 0px;
	top: 40px;
	padding: 0px;
}

#mid {
	margin-top: 50px;
  margin-bottom: 50px;
	padding: 20px 0;
	text-align: center;
	font-size: 30px;
}

#bottom {
	height: 40px;
	background-color: #c0caca;
}

#height_error {
	color: red;
}

#weight_error {
	color: red;
}

.dropdown_container, .header_container {
    float: left;
    overflow: hidden;
    list-style-type: none;
/*    background: linear-gradient(45deg, rgba(255,255,255,1) 40%, rgba(201,214,255,1) 60%, rgba(77,121,255,1) 85%, rgba(63,111,255,1) 100%);*/
    background: linear-gradient(45deg, #09009f, #00ff95 80%);
	color: black;
	margin: 0;
	width: 100%;
	height: 50px;
}
.dropdown .dropbtn, .dropdown-content, .dropdown_container, .dropbtn, .header_container {
    border: none;
    outline: none;
    margin: 0;
}
.dropdown-content {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background: #3f3f3f;
    width: 0%;
    float: right;
    right: 0;
    height: 100%;
    transition: width 0.3s ease-in-out;
    top: 0;
    position: fixed;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #CCCCCC;
    font-size: 18px;
}
.dropdown-content a:hover {
    color: #FFFFFF;
}

.close_icon {
    visibility: hidden;
    width: 28px;
    height: auto;
    float: right;
    padding: 5px 5px 0px;
}

.dropdown-content.show {
    width: 25%;
}

.show .close_icon {
    visibility: visible;
}

.menu_icon {
    width: 28px;
    height: auto;
}

.closebtn {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.img_style {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.logo_style {
    float: left;
    margin: 6px;
}

.dropdown-content-head {
    height: 38px;
    margin: 6px;
}

.grid-style {
    display: grid;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 2fr;
    max-width: 720px;
    margin: auto;
}

.grid-cell-style {
    max-width: 100%;
    display: flex;
    align-items: center;
}

.grid-cell-text {
    justify-content: center;
    font-size: 1.2rem;
    padding: 10px;
    color: #191919;
}

header ul, .dropdown_container, .dropdown_div {
    display: none;
}

.grid-cell-style > img, .grid-cell-style > a > img {
    max-width: 100%;
    width: 200px;
    height: 200px;
    max-width: 100%;
    object-fit: cover;
    max-height: 100%;
    border-radius: 15px;
}

.grid-cell-style > a > img:hover {
    -webkit-box-shadow: 0px 0px 15px 0px #FFFFFF;
    -moz-box-shadow: 0px 0px 15px 0px #FFFFFF;
    box-shadow: 0px 0px 15px 0px #FFFFFF;

}

.project-group {
    max-width: 100%;
    width: 720px;
    margin: 0 auto 0;
}

.header-title {
    display: inline-block;
    font-size: 22px;
    position: relative;
    top: 25%;
    color: #FFFFFF;
}

.project-title {
    padding-bottom: 20px;
    max-width: 1080px;
    margin: auto;
    text-align: left;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
}

.project-title-desc {
    padding-bottom: 20px;
    font-size: 18px;
    color: #a8a8a8;
    max-width: 1080px;
    margin: auto;
    text-align: left;
}

.project-body {
    padding-bottom: 20px;
    font-size: 18px;
    max-width: 1080px;
    margin: auto;
    text-align: left;
}

.project-body-image {
    padding-bottom: 20px;
}

.badge {
    display: inline-block;
    padding: 5px 15px;
    background: #09009f;
    color: #FFFFFF;
    margin: 0 10px 20px;
    font-size: 1rem;
    vertical-align: middle;
}

.contact-form form label {
    width: 100%;
    text-align: left;
    font-size: 18px;
    display: block;
}

.contact-form form input[type=text], .contact-form form input[type=email], .contact-form form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 18px;
    display: block;
    box-sizing: border-box;
}

.contact-form form textarea {
    height: 170px;
    resize: vertical;
}

.contact-form form input[type=submit] {
    background-color: #09009f;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px; border-radius: 7px;
}

.img_profile {
    border-radius: 50%;
    width: 200px;
    max-width: 200px;
}

.div_profile_image {
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
    width: 200px;
    font-size: 34px;
    text-align: left;
    position: relative;
    animation: fromLeft 1s;
    animation-direction: normal;
}

.div_profile_text {
    display: inline-block;
    max-width: 470px;
    line-height: 1.0;
    vertical-align: middle;
    font-size: 1.8rem;
    position: relative;
    animation: fromLeft 1s;
    animation-direction: normal;
}

.nav-button {
    display: inline-block;
    padding: 5px;
    margin: 8px 5px;
    color: #e5e5e5;
    min-width: 150px;
    font-size: 18px;
    text-shadow: 0px 0px 8px #191919;
}
.nav-button:hover {
    background: white;
    color: #191919;
    text-shadow: none;
    border-bottom: none;
}
.button-main {
    border-bottom: 2px solid white;
}

.page-row {
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 769px) and (max-width: 1080px) {
    .dropdown-content.show {
        width: 50%;
    }
}

@media (max-width: 768px) {
    header ul {
        display: none;
    }
    .dropdown_div {
        display: block;
    }
    .dropdown_container {
        display: block;
    }
    .header_container {
        display: none;
    }
    .dropdown-content.show {
        width: 75%;
    }
    #mid {
        padding: 20px 0 100px 0;
    }
    .page-row {
      padding-right: 10px;
      padding-left: 10px;
    }
    .grid-style {
        grid-template-columns: 1fr 2fr;
        grid-row-gap: 2rem;
        max-width: 90%;
    }
    .grid-cell-style > img, .grid-cell-style > a > img {
        max-width: 100%;
        width: 150px;
        height: 150px;
    }

    .grid-cell-text {
        font-size: 1.2rem;
    }
    .img_profile {
        width: 100%;
    }
    .div_profile_image {
        margin: 0;
        width: 35%;
    }
    .div_profile_text {
        font-size: 1.2rem;
        width: 60%;
    }
    .intro_style {
        margin: 20px auto 20px;
    }
}

@keyframes fromLeft {
  0%   { left: -500px; }
  100% { left: 0px; }
}
@keyframes fromRight {
  0%   { right: -500px; }
  100% { right: 0px; }
}
