body {
    background-color: #e5e5e5;
    margin: 0px;
    color: #191919;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.opacity_effect {
    opacity: 0.5;
}

#container {
	width: auto;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	text-align: center;
	position: fixed;
    top: 0;
    width: 100%;
    background-color: #F5F3F4;
}

header h1 {
    margin: 5px;
    font-size: 16px;
}

.intro_style {
    font-size: 40px;
    margin: 50px auto 50px;
    padding: 0 25px;
    max-width: 720px;
}

.non_intro_style {
    margin: 10px auto 0;
}


a {
	color: #191919;
	text-decoration: none;
}

.navbutton {
    padding: 10px 20px 10px 20px; 
    display: inline-block; 
    margin: 6px 3px;
    font-weight: normal;
}

.navbutton:hover {
    font-weight: bold;
}

.dropdown_menu {
    padding: 5px;
	display: block;
	width: 200px;
	text-indent: 15px;
	background-color: #0099CC;
	font-weight: normal;
	font-size: 80%;
	text-align: left;
}

ul {
	list-style-type: none;
	background-color: black;
	color: white;
	font-weight: bold;
	margin: 0px;
}

.dropdown_div {
    background-color: black;
}

.dropdown {
    margin: 6px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: transparent;
    float: right;
}

.dropbtn {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    padding: 5px 5px 0px;
    background: transparent;
    color: #FFFFFF;
    font-size: 16px;
}

header select {
    padding: 10px 20px 10px 20px;
    margin: 6px 3px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

ul li {
	display: inline;
}

ul li ul {
	position: absolute;
	left: -9999px;
	top: -9999px;
	list-style-type: none;
}

ul li:hover ul {
	left: 0px;
	top: 40px;
	padding: 0px;
}

#mid {
	margin-top: 50px;
	padding: 20px;
	text-align: center;
	font-size: 30px;
}

#bottom {
	height: 40px;
	background-color: #c0caca;
}

#height_error {
	color: red;
}

#weight_error {
	color: red;	
}

.dropdown_div {
/*  display: none;*/
}

.dropdown_container {
    float: left;
    overflow: hidden;
    list-style-type: none;
/*    background: linear-gradient(45deg, rgba(255,255,255,1) 40%, rgba(201,214,255,1) 60%, rgba(77,121,255,1) 85%, rgba(63,111,255,1) 100%);*/
    background: linear-gradient(45deg, #09009f, #00ff95 80%);
	color: black;
	margin: 0px;
	width: 100%;
	height: 50px;
}
.dropdown .dropbtn, .dropdown-content, .dropdown_container, .dropbtn {
    border: none;
    outline: none;
    margin: 0;
}
.dropdown-content {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background: #3f3f3f;
    width: 0%;
    float: right;
    right: 0;
    height: 100%;
    transition: width 0.3s ease-in-out;
    top: 0;
    position: fixed;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #CCCCCC;
    font-size: 18px;
}
.dropdown-content a:hover {
    color: #FFFFFF;
}

.close_icon {
    visibility: hidden;
    width: 28px;
    height: auto;
    float: right;
    padding: 5px 5px 0px;
}

.dropdown-content.show {
    width: 25%;
}

.show .close_icon {
    visibility: visible;
}

.menu_icon {
    width: 28px;
    height: auto;
}

.closebtn {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.img_style {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.logo_style {
    float: left;
    margin: 6px;
}

.dropdown-content-head {
    height: 38px;
    margin: 6px;
}

.grid-style {
    display: grid;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 2fr;
    max-width: 720px;
    margin: auto;
}

.grid-cell-style {
    max-width: 100%;
    display: flex;
    align-items: center;
}

.grid-cell-text {
    justify-content: center;
    font-size: 22px;
    padding: 10px;
    color: #191919;
}

header ul { 
    display: none;
}

.grid-cell-style > img, .grid-cell-style > a > img {
    max-width: 100%;
    width: 250px;
    height: 250px;
    max-width: 100%;
    object-fit: cover;
    max-height: 100%;
    border-radius: 15px;
}

.grid-cell-style > a > img:hover {
    -webkit-box-shadow: 0px 0px 15px 0px #FFFFFF;
    -moz-box-shadow: 0px 0px 15px 0px #FFFFFF;
    box-shadow: 0px 0px 15px 0px #FFFFFF;
    
}

.contact-link {
    padding: 2px 2px;
    text-decoration: underline;
}

.contact-link:hover {
    background: #000000;
    color: #FFFFFF;
    text-decoration: none;
}

.project-group {
    max-width: 100%;
    width: 720px;
    margin: 0 auto 60px;
}

.header-title {
    display: inline-block;
    font-size: 22px;
    position: relative;
    top: 25%;
    color: #FFFFFF;
}

.project-title {
    padding-bottom: 20px;
    max-width: 1080px;
    margin: auto;
    text-align: left;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
}

.project-title-desc {
    padding-bottom: 20px;
    font-size: 18px;
    color: #a8a8a8;
    max-width: 1080px;
    margin: auto;
    text-align: left;
}

.project-body {
    padding-bottom: 20px;
    font-size: 18px;
    max-width: 1080px;
    margin: auto;
    text-align: left;
}

.project-body-image {
    padding-bottom: 20px;
}

.badge {
    display: inline-block;
    border-radius: 10px;
    padding: 5px 10px;
    background: #09009f;
    color: #FFFFFF;
    margin: 0 10px 20px;
    font-size: 18px;
    vertical-align: middle;
}

@media (min-width: 769px) and (max-width: 1080px) {
    .dropdown-content.show {
        width: 50%;
    }
}

@media (max-width: 768px) {
    header ul { 
        display: none;
    }
    .dropdown_div { 
        display: block;
    }
    .dropdown_container {
        display: block;
    }
    .dropdown-content.show {
        width: 90%;
    }
    #mid { 
        padding: 20px 10px 100px 10px;
    }
    .grid-style {
        grid-template-columns: 1fr 2fr;
        grid-row-gap: 2rem;
        max-width: 90%;
    }
    .grid-cell-style > img, .grid-cell-style > a > img {
        max-width: 100%;
        width: 150px;
        height: 150px;
    }
    
    .grid-cell-text {
        font-size: 18px;
    }
}



