{% extends 'main.html' %}
{% block title %}Random Artwork{% endblock %}
{% block content %}

    <div id="mid">
        
        <div class="grid-style">
            <div class="grid-cell-style"><a class="image-popup-no-margins" href="static/images/image_grass_and_sky.gif"><img src="static/images/image_grass_and_sky.gif" class="img_style"></a><br>GIF image using Adobe Illustrator</div>
            <div class="grid-cell-style"><a class="image-popup-no-margins" href="static/images/image_ff_logo_2.2.png"><img src="static/images/image_ff_logo_2.2.png" class="img_style"></a><br>Mock logo design</div>
            <div class="grid-cell-style"><a class="image-popup-no-margins" href="static/images/image_artwork_with_blur.jpg"><img src="static/images/image_artwork_with_blur.jpg" class="img_style"></a><br><i>Imagination Made Real</i><br>Pencil drawing, digitally colored</div>
            <div class="grid-cell-style"><a class="image-popup-no-margins" href="static/images/image_make.jpg"><img src="static/images/image_make.jpg" class="img_style"></a><br>Graphic using Adobe Photoshop</div>
            <div class="grid-cell-style"><a class="image-popup-no-margins" href="static/images/image_believe.jpg"><img src="static/images/image_believe.jpg" class="img_style"></a><br>Another graphic using Adobe Photoshop</div>
            <div class="grid-cell-style"><a class="image-popup-no-margins" href="static/images/image_all_in.png"><img src="static/images/image_all_in.png" class="img_style"></a><br>Graphic using Microsoft Paint</div>
            
        </div>
        
    </div>

<script>
    
</script>

{% endblock %}