{% extends 'main.html' %}
{% block gtag %}gtag('config', 'UA-176036079-1', {'page_path': '/contact'});{% endblock %}
{% block title %}Contact Info | Joshua Kagawa{% endblock %}
{% block header_title %}Contact Info{% endblock %}
{% block content %}

    <div id="mid">
        <div class="non_intro_style">
            <div style="padding-bottom: 20px; max-width: 100%;">Email:<br>joshuakagawa@gmail.com</div>
            <div style="padding-bottom: 10px; font-size: 16px; max-width: 100%;">Credits:</div>
            <div style="padding-bottom: 10px; font-size: 16px; max-width: 100%;">Header gradient inspiration → <a href="https://cssgradient.io/" target="_blank" class="contact-link">CSS Gradient</a></div>
            <div style="padding-bottom: 30px; font-size: 16px; max-width: 100%;">Image zoom plugin → <a href="https://dimsemenov.com/plugins/magnific-popup/" target="_blank" class="contact-link">Magnific Popup</a></div>
        </div>
        
    </div>

<script>
    
</script>

{% endblock %}