{% extends 'main.html' %}
{% block gtag %}gtag('config', 'UA-176036079-1', {'page_path': '/'});{% endblock %}
{% block title %}Joshua Kagawa | Projects{% endblock %}
{% block header_title %}{% endblock %}
{% block content %}

        <div id="mid">
            <div class="intro_style page-row">
                <div class="div_profile_image"><img src="static/images/profile-photo.jpeg" class="img_profile img_style"></div>
                <div class="div_profile_text">
                  Hello! My name is Joshua Kagawa. I'm a software developer.
                  <div style="margin: 25px 0 50px;"><a href="https://github.com/jkagawa" target="_blank" class="link-style"><span>Visit my GitHub</span></a></div>
                </div>
            </div>
            <div class="non-intro-style-dark page-row" style="padding-top: 25px; padding-bottom: 25px;">
              <div style="font-size: 2rem; color: white;">Projects</div>
            </div>
            <div class="non-intro-style page-row">
              <div class="project-group">
                <div class="project-title">Climbing Spot</div><div class="badge">Recent Project</div>
                <div class="project-body-image"><img src="static/images/climbing-website-demo.gif" class="img_style" style="width: 1080px; max-width: 100%; object-fit: cover; height: 365px;"></div>
                <div class="project-body">A website that enables the discovery of rock climbing locations and rock climbers, powered by a RESTful API</div>
                <div class="project-body">Allows users to add, edit, and remove climbing locations and climbers. Specific features
    are locked through the use of sign-in and authentication functionality.</div>
                <div class="project-body">Link to the <a href="https://climbing-spot-app.herokuapp.com" target="_blank" class="link-style">Climbing Spot website</a></div>
              </div>
            </div>
          <div class="non-intro-style-dark page-row">
            <div class="project-group">
              <div class="project-title">My Budget</div>
              <div class="project-body-image"><img src="static/images/budget-app-demo.gif" class="img_style" style="width: 300px; max-width: 50%;"></div>
              <div class="project-body">A budgeting app that lets users keep track of how much they are spending in a clean and
    easy-to-use interface</div>
              <div class="project-body">Allows users to set a monthly budget and enter expenses.</div>
              <div class="project-body">Link to the <a href="https://play.google.com/store/apps/details?id=com.jkagawa.mybudget" target="_blank" class="link-style-white">My Budget Android app</a></div>
            </div>
        </div>
    </div>
{% endblock %}
