<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176036079-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        {% block gtag %}{% endblock %}
    </script>

    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="static/images/letter-j.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link type="text/css" rel="stylesheet" href="static/css/main.css" />
    <link rel="stylesheet" href="https://dimsemenov.com/plugins/magnific-popup/dist/magnific-popup.css">
</head>

<body>
    <div id="main_dropdown" class="dropdown-content">
        <div class="dropdown-content-head">
            <div onclick="toggleMenu()" class="closebtn"><img src="static/images/close-icon.png" class="close_icon img_style"></div>
        </div>
        <div><a href="/" class="currentpage_nav">Projects</a></div>
        <div><a href="/art">Art Showcase</a></div>
        <div><a href="/contact">Contact</a></div>
    </div>
    <div id="container">
        <header>
          <div class="header_container">
            <div class="logo_style"><img src="static/images/letter-j.png" width="37px" class="img_style"></div>
            <a href="/"><div class="nav-button{% if request.endpoint == 'index' %} button-main{% endif %}">Projects</div></a>
            <a href="/art"><div class="nav-button{% if request.endpoint == 'art_page' %} button-main{% endif %}">Art Showcase</div></a>
            <a href="/contact"><div class="nav-button{% if request.endpoint == 'contact_page' %} button-main{% endif %}">Contact</div></a>
          </div>
          <div class="dropdown_container">
            <div class="logo_style"><img src="static/images/letter-j.png" width="37px" class="img_style"></div>
            <div class="header-title">{% block header_title %}{% endblock %}</div>
            <div class="dropdown">
              <button class="dropbtn" onclick="toggleMenu()"><img src="static/images/menu-icon.png" class="menu_icon img_style"></button>
            </div>
          </div>
        </header>

        {% block content %}{% endblock %}

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/js/jquery.magnific-popup.js"></script>
    <script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
    <script type="text/javascript">
        function toggleMenu() {
            document.getElementById("main_dropdown").classList.toggle("show");
            document.getElementById("container").classList.toggle("opacity_effect");
        }
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn') && !event.target.matches('.menu_icon') && !event.target.matches('.dropdown-content') && !event.target.matches('.dropdown-content-head') && !event.target.matches('.closebtn')) {
                document.getElementById("main_dropdown").classList.remove('show');
                document.getElementById("container").classList.remove("opacity_effect");
            }
        }

        $(document).ready(function() {
            $('.image-popup-no-margins').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                closeBtnInside: false,
                fixedContentPos: true,
                mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
                image: {
                    verticalFit: true
                },
                zoom: {
                    enabled: true,
                    duration: 300 // don't foget to change the duration also in CSS
                }
            });

        });

        $(document).ready(function() {
            setTimeout( function(){
                $('.div_profile_image').css('position','initial');
                $('.div_profile_text').css('position','initial');
            },1000);
        });
//        window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
//       formbutton("create", {
//           onResponse: function(ok, setStatus) {
//            if (ok) { setStatus("Your form has been submitted!"); }
//            else { setStatus("<span style='color:red'>Oops, there was an error!</span>"); }
//           },
//           action: "https://formspree.io/xzbkzzgg",
//           title: "Contact Me",
//           fields: [
//               {
//                type: "text",
//                label: "Name:",
//                name: "name",
//                required: true,
//                placeholder: "Your name"
//              },
//              {
//                type: "email",
//                label: "Email Address:",
//                name: "email",
//                required: true,
//                placeholder: "Your email address"
//              },
//              {
//                type: "textarea",
//                label: "Message:",
//                name: "message",
//                required: true,
//                placeholder: "Your message",
//              },
//              { type: "submit" }
//           ],
//            styles: {
//              fontFamily: "Arial",
//              title: {
//                background: "#09009f",
//              },
//              button: {
//                background: "#09009f",
//              }
//            }
//       });
    </script>

</body>

</html>
