{% extends 'main.html' %}
{% block gtag %}gtag('config', 'UA-176036079-1', {'page_path': '/projects'});{% endblock %}
{% block title %}Coding Projects | Joshua Kagawa{% endblock %}
{% block header_title %}Coding Projects{% endblock %}
{% block content %}

    <div id="mid">
        <div class="non_intro_style">
            <div class="project-group">
                <div class="project-title">Climbing Spot</div>
                <div class="project-title-desc">A website that enables the discovery of rock climbing locations and rock climbers,
                    powered by a RESTful API</div>
                <div class="project-body-image"><img src="static/images/climbing-website-demo.gif" class="img_style" style="width: 1080px; max-width: 100%;"></div>
                <div class="project-body">Allows users to add, edit, and remove climbing locations and climbers. Specific features
are locked through the use of sign-in and authentication functionality.</div>
                <div class="project-body">Link to the <a href="https://climbing-spot-app.herokuapp.com" target="_blank" class="contact-link">Climbing Spot website</a></div>
            </div>
            <div class="project-group">
                <div class="project-title">My Budget</div>
                <div class="project-title-desc">A budgeting app that lets users keep track of how much they are spending in a clean and
easy-to-use interface</div>
                <div class="project-body-image"><img src="static/images/budget-app-demo.gif" class="img_style" style="width: 300px; max-width: 40%;"></div>
                <div class="project-body">Allows users to set a monthly budget and enter expenses.</div>
                <div class="project-body">Link to the <a href="https://play.google.com/store/apps/details?id=com.jkagawa.mybudget" target="_blank" class="contact-link">My Budget Android app</a></div>
            </div>
            <div style="padding-bottom: 20px; max-width: 100%;">Visit my <a href="https://github.com/jkagawa" target="_blank" class="contact-link">GitHub</a></div>
        </div>
    </div>

<script>
    
</script>

{% endblock %}